<!DOCTYPE html PUBLIC>
<html lang="en">
<head>
  <title>http://www.pilatesonpark.com</title>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <META NAME="Keywords" CONTENT="pilatesonpark, pilatesonpark.com, pilates on park, pilatesonpark san diego, pilates on park san diego, jennifer curry, health and fitness, fitness pilates, pilates san diego, pilates health, pilates fitness, san diego fitness, ballet, ballet pilates, pilates studio, dance studio," />
  <META NAME="Description" CONTENT="Pilates fitness for well being in the heart of San Diego, California" />
  <META NAME="Author" CONTENT="Nicholas Purington, Nick Purington" />
  <link href="../index_styles.css" rel="stylesheet" type="text/css" />

</head>

<body>

  <div>

    <div class="page-header">   

      <div class="jennifer-img-container">  
        <img src="../images/Jennifer Profile Final.jpg">
      </div>

      <div class="jennifer-link-container"> 
        <a class="jennifer-link" href=""> Owner <br> Jennifer Curry Wingrove </a>
      </div>

      <div>
        <a href="pilatesonpark.com"><img class="logo_img" src="../images/Pilates On Park-Banner - Black.jpg"></a> 
      </div>

    </div>


    <div class="link-container">

      <a class="buttons" href="../templates/pilatesfitness.html">Pilates On Park Fitness</a>
      
      <a class="buttons" href="../templates/classes.html">Classes</a>     
    
      <a class="buttons" href="../templates/schedule.html">Schedule</a>

      <a class="buttons" href="../templates/instructors.html">Instructors</a>
    
      <a class="buttons" href="../templates/services.html">Additional Services</a>

      <a class="buttons" href="../templates/contact.html">Contact</a>
    
    </div>  

     <h1>Jennifer Curry Wingrove</h1>

    <hr>   

    <div class="instructor-container"> 
      
      <div class="instructor-img">
        <img src="../images/Instructors/jennifer_curry_wingrove.jpg">
      </div>
      
      <div class="instructor-txt">
        
        <p>
          Jennifer Curry Wingrove, owner of Pilates On Park, renowned Ballerina
          of the California Ballet Company, and a STOTT Certified Pilates Instructor,
          initially became interested in Pilates to further strengthen her
          own body for her international dancing career. She was so impressed
          with what pilates did for her that she became inspired to teach and
          share this form of exercise with others. Jennifer's instruction utilizes
          a dynamic repertoire of exercises to emphasize strength, flexibility,
          and mind-body-spirit connection.<br>
        <br>
          Jennifer has 22 years of teaching experience with 10 years of teaching
          Pilates in the San Diego area. Her clients include the California Ballet
          Company, San Diego Symphony and the Old Globe Theater. She is also
          a Certified Clinical Hypnotherapist, a Professional Ballet Coach & teacher,
          and has a B.A. in Psychology from the University of California, San
          Diego.<br>
        <br>
        <span style="color:#6F8558;">  
          "Jennifer excels at tuning into the individual
          and his or her physical idiosyncrasies, selecting a plan that relates
          to each client, and committing to help them improve their physical,
          mental, and spiritual well being through Pilates as a platform for
          overall health." - Nancy Daly, client.</span>  
        </p>
          
      </div>
    </div>
  </div>
</body>
</html>
