<!DOCTYPE html PUBLIC>
<html lang="en">
<head>
  <title>http://www.pilatesonpark.com</title>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <META NAME="Keywords" CONTENT="pilatesonpark, pilatesonpark.com, pilates on park, pilatesonpark san diego, pilates on park san diego, jennifer curry, health and fitness, fitness pilates, pilates san diego, pilates health, pilates fitness, san diego fitness, ballet, ballet pilates, pilates studio, dance studio," />
  <META NAME="Description" CONTENT="Pilates fitness for well being in the heart of San Diego, California" />
  <META NAME="Author" CONTENT="Nicholas Purington, Nick Purington, Wolf Den Development" />
  <link href="../index_styles.css" rel="stylesheet" type="text/css" />

</head>

<body>

  <div>

    <div class="page-header">   

      <div class="jennifer-img-container">  
        <img src="../images/Jennifer Profile Final.jpg">
      </div>

      <div class="jennifer-link-container"> 
        <a class="jennifer-link" href="../templates/bio.html"> Owner <br> Jennifer Curry Wingrove </a>
      </div>

      <div>
        <a href="pilatesonpark.com"><img class="logo_img" src="../images/Pilates On Park-Banner - Black.jpg"></a> 
      </div>

    </div>


    <div class="link-container">

      <a class="buttons" href="../templates/pilatesfitness.html">Pilates On Park Fitness</a>
      
      <a class="buttons" href="../templates/classes.html">Classes</a>     
    
      <a class="buttons" href="../templates/schedule.html">Schedule</a>

      <a class="buttons" href="../templates/instructors.html">Instructors</a>
    
      <a class="buttons" href="../templates/services.html">Additional Services</a>

      <a class="buttons" href="../templates/contact.html">Contact</a>
    
    </div>  

    <p class="classes-intro">
      Pilates On Park offers daily Private, Semi-private, and Group Reformer
      and Chair classes, as well as other unique specialty fitness classes.
      First-time clients can take advantage of the Buy One Group Class /
      Get One Free Special!.
    </p>
          
    <a class="classes-link" href="../templates/schedule.html">For class prices, class purchases, and scheduling please click <strong>HERE
    </strong></a>

    <h1>Reformer/Chair Level 1</h1>

    <hr>   

    <p class="classes-txt">
      A slower introduction to the art of pilates, this class is perfect for clients
      who are beginners or who have physical issues, or for those whom simply desire
      a slower pace.
    </p>

    <h1>Reformer/Chair Level 2</h1>

    <hr>   

    <p class="classes-txt">
      For the more intermediate or advanced client with experience in reformer and stability chair.
    </p>
    
    <h1>Cardio Reformer</h1>

    <hr>   

    <p class="classes-txt">
      This class will take classic pilates moves and give them a unique cardio twist. We
      will use the reformers, jumpboards, chairs, weights, balls, and bands to create
      circuits to test strength and endurance. This workout will bump up intensity
      and get your heart pumping!
    </p>
    
    <h1>Booty Barre&reg;</h1>

    <hr> 

    <p class="classes-txt">
      A unique, fun, high energy class. It fuses legendary fitness techniques from pilates, ballet,
      callestenics and yoga. These techniques are designed to streamline, firm, tighten
      and tone muscles and re-align the body without adding bulk. This helps to create
      balance, posture, body awareness, flexibility and cardiovascular endurance. The
      result is a body that looks and moves 10 years younger!! The structure of this
      innovative Booty Barre&reg; class keeps the heart rate elevated with motivating, up-beat
      music and brisk, dynamic, no-impact movements. The techniques learned in The
      Booty Barre&reg; class help to increase your resting metabolism, which allows you
      to burn more calories and fat while you are at rest. The Booty Barre&reg; class has
      no jumping or punching, just pure lengthening and strengthening exercises which
      help to create the body of your dreams.
    </p>  

    <h1>Pilates MAT</h1>

    <hr> 

    <p class="classes-txt">
      Practicing mat pilates can give you a better foundation in breath, alignment, and sequencing-
      tools you can take with you to the reformer or chair. It also is a great way
      to build strength and endurance because you are dependent on your own body weight
      during the exercises. Best of all, you can take the exercises you learn in mat
      classes and do them at home without any equipment. Use of props such as therabands,
      rings, small balls, weights, and foam rollers will bring fun into the practice!
    </p>

    <h1>Prenatal Pilates</h1>

    <hr> 

    <p class="classes-txt">  
      A Pilates class desinged for the pregnant client. Pilates will help you maintain core strength
      that will support a more comfortable pregnancy and delivery.
    </p>

    <p class="classes-txt"> 
      The 1,300 sq. foot studio offers brand new state-of-the-art equipment in an atmosphere that is both
      stimulating and peaceful. Join us in the future of fitness. 
    </p>

    <p class="classes-disclaimer">
      <i>
        Notice: We accept cash, checks and credit card payments can be made online. Cancellations require 24 hours notification. Classes
        are subject to cancellation if there are 2 clients or less signed up for a class (notification will arrive via email). First time clients
        can take advantage the Buy One Group Class / Get One Free deal (one time only).
      </i>
    </p>

  </div>

</body>

<footer class="footer">Copyright 2018 <img src="../images/wdd_logo_footer.png"> Wolf Den Development</footer>

</html>
