
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>http://www.pilatesonpark.com</title>
<style type="text/css">
<!--
.style2 {font-family: Verdana, Arial, Helvetica, sans-serif}
.style4 {color: #660033}
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
}
.style9 {
	font-size: 9pt
}
body {
	background-image: url();
	background-repeat: no-repeat;
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #660033;
}
a:active {
	text-decoration: none;
}
-->
</style>
</head>

<body>
<div align="center">
  <p><img src="images/pplogo.jpg" alt="pilatesonpark" width="616" height="229" /></p>
  <p><a href="index.html">Home</a></span> <span class="style4">|</span>
  <a href="bio.html">Instructors</a> <span class="style4">|</span>
   <a href="http://clients.mindbodyonline.com/ws.asp?studioid=18307&amp;stype=-7&amp;sView=week" target="_blank">Schedule</a> <span class="style4">|</span> 
   <a href="services.html">Additional Services</a> <span class="style4">|</span> 
   <a href="events.html">Events</a> <span class="style4">|</span> 
   <a href="contact.html">Contact</a></p>
  <p><span class="style2">858.707.5009<span class="style4">|</span> <a href="mailto:pilatesonpark@gmail.com">pilatesonpark@gmail.com</a></span></p>
  <table width="784" border="0">
    <tr>
      <th width="331" align="center" valign="top" scope="col"><div align="center">
        <p>&nbsp;</p>
        <p><img src="/images/classes.jpg" width="300" height="410" /></p>
      </div></th>
      <th width="495" scope="col"><div align="left" class="style9">
        <p>Pilates On Park offers daily Private, Semi-private, and Group Reformer
          and Chair classes, as well as other unique specialty fitness classes.
          First-time clients can take advantage of the Buy One Group Class /
          Get One Free Special!.<br />
          <br />
 <a href="https://clients.mindbodyonline.com/ASP/home.asp?studioid=18307" target="_blank">For class prices, class purchases, and scheduling please click HERE</a><br />
<br />

<span class="style4">-</span> Reformer/Chair Level 1  <span class="style4">|</span> A
slower introduction to the art of pilates, this class is perfect for clients
who are beginners or who have physical issues, or for those whom simply desire
a slower pace.<br />
<br />

<span class="style4">-</span> Reformer/Chair Level 2  <span class="style4">|</span> For the more intermediate or advanced client with experience in reformer and stability chair.<br />
<br />


<span class="style4">-</span> Cardio Reformer  <span class="style4">|</span> This
class will take classic pilates moves and give them a unique cardio twist. We
will use the reformers, jumpboards, chairs, weights, balls, and bands to create
circuits to test strength and endurance. This workout will bump up intensity
and get your heart pumping!<br />
<br />
<span class="style4">-</span> Booty Barre&reg; <span class="style4">|</span> a unique
fun, high energy class. It fuses legendary fitness techniques from pilates, ballet,
callestenics and yoga. These techniques are designed to streamline, firm, tighten
and tone muscles and re-align the body without adding bulk. This helps to create
balance, posture, body awareness, flexibility and cardiovascular endurance. The
result is a body that looks and moves 10 years younger!! The structure of this
innovative Booty Barre&reg; class keeps the heart rate elevated with motivating, up-beat
music and brisk, dynamic, no-impact movements. The techniques learned in The
Booty Barre&reg; class help to increase your resting metabolism, which allows you
to burn more calories and fat while you are at rest. The Booty Barre&reg; class has
no jumping or punching, just pure lengthening and strengthening exercises which
help to create the body of your dreams.<br />
<br />
<span class="style4">-</span> Pilates MAT  <span class="style4">|</span> Practicing
mat pilates can give you a better foundation in breath, alignment, and sequencing-
tools you can take with you to the reformer or chair. It also is a great way
to build strength and endurance because you are dependent on your own body weight
during the exercises. Best of all, you can take the exercises you learn in mat
classes and do them at home without any equipment. Use of props such as therabands,
rings, small balls, weights, and foam rollers will bring fun into the practice!<br />
<br />
        - Prenatal Pilates <span class="style4">|</span> A Pilates class desinged
        for the pregnant client. Pilates will help you maintain core strength
        that will support a more comfortable pregnancy and delivery.<br />
        </p>
        <p> The 1,300 sq. foot studio offers
          brand new state-of-the-art equipment in an atmosphere that is both
          stimulating and peaceful. Join us in the future of fitness. <br />
          <br />
          <i>Notice: We accept cash, checks and credit card payments can be made online. Cancellations require 24 hours notification.</i> <i>Classes
          are subject to cancellation if there are 2 clients or less signed up
          for a class (notification will arrive via email). </i> <i>First time clients
          can take advantage the Buy One Group Class / Get One Free deal (one
          time only).</i></p>
      </div></th>
    </tr>
    <tr>
      <th height="367" colspan="2" scope="col"><p><img src="images/class.diptych.jpg" /><br />
      </p></th>
    </tr>
  </table>
  <p><span class="style2">858.707.5009<span class="style4">|</span> <a href="mailto:pilatesonpark@gmail.com">pilatesonpark@gmail.com</a></span></p>
  <p>&nbsp;</p>
</div>
</body>
</html>