<!DOCTYPE html PUBLIC>
<html lang="en">
<head>
  <title>http://www.pilatesonpark.com</title>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <META NAME="Keywords" CONTENT="pilatesonpark, pilatesonpark.com, pilates on park, pilatesonpark san diego, pilates on park san diego, jennifer curry, health and fitness, fitness pilates, pilates san diego, pilates health, pilates fitness, san diego fitness, ballet, ballet pilates, pilates studio, dance studio," />
  <META NAME="Description" CONTENT="Pilates fitness for well being in the heart of San Diego, California" />
  <META NAME="Author" CONTENT="Nicholas Purington, Nick Purington, Wolf Den Development" />
  <link href="../index_styles.css" rel="stylesheet" type="text/css" />

</head>

<body>

  <div>

    <div class="page-header">   

      <div class="jennifer-img-container">  
        <img src="../images/Jennifer Profile Final.jpg">
      </div>

      <div class="jennifer-link-container"> 
        <a class="jennifer-link" href="../templates/bio.html"> Owner <br> Jennifer Curry Wingrove </a>
      </div>

      <div>
        <a href="pilatesonpark.com"><img class="logo_img" src="../images/Pilates On Park-Banner - Black.jpg"></a> 
      </div>

    </div>


    <div class="link-container">

      <a class="buttons" href="../templates/pilatesfitness.html">Pilates On Park Fitness</a>
      
      <a class="buttons" href="../templates/classes.html">Classes</a>     
    
      <a class="buttons" href="../templates/schedule.html">Schedule</a>

      <a class="buttons" href="../templates/instructors.html">Instructors</a>
    
      <a class="buttons" href="../templates/services.html">Additional Services</a>

      <a class="buttons" href="../templates/contact.html">Contact</a>
    
    </div>  

    <div class="contact-txt">

      <p>
        Email: <strong><a href="mailto:pilatesonpark@gmail.com">pilatesonpark@gmail.com</a></strong><br>

        <br>

        Phone: (858) 707-5009
      </p>  

    </div>  

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d26843.520178807838!2d-117.146327!3d32.754057!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d954e6c58f6781%3A0x9c6dc0ad97c7e530!2sPilates+On+Park!5e0!3m2!1sen!2sus!4v1543479169278" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    
    
  </div>

</body>

<footer class="footer">Copyright 2018 <img src="../images/wdd_logo_footer.png"> Wolf Den Development</footer>

</html>
