<!DOCTYPE html PUBLIC>
<html lang="en">
<head>
  <title>http://www.pilatesonpark.com</title>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <META NAME="Keywords" CONTENT="pilatesonpark, pilatesonpark.com, pilates on park, pilatesonpark san diego, pilates on park san diego, jennifer curry, health and fitness, fitness pilates, pilates san diego, pilates health, pilates fitness, san diego fitness, ballet, ballet pilates, pilates studio, dance studio," />
  <META NAME="Description" CONTENT="Pilates fitness for well being in the heart of San Diego, California" />
  <META NAME="Author" CONTENT="Nicholas Purington, Nick Purington, Wolf Den Development" />
  <link href="../index_styles.css" rel="stylesheet" type="text/css" />

</head>

<body>

  <div>

    <div class="page-header">   

      <div class="jennifer-img-container">  
        <img src="../images/Jennifer Profile Final.jpg">
      </div>

      <div class="jennifer-link-container"> 
        <a class="jennifer-link" href="../templates/bio.html"> Owner <br> Jennifer Curry Wingrove </a>
      </div>

      <div>
        <a href="../index.html"><img class="logo_img" src="../images/Pilates On Park-Banner - Black.jpg"></a> 
      </div>

    </div>


    <div class="link-container">

      <a class="buttons" href="../templates/pilatesfitness.html">Pilates On Park Fitness</a>
      
      <a class="buttons" href="../templates/classes.html">Classes</a>     
    
      <a class="buttons" href="../templates/schedule.html">Schedule</a>

      <a class="buttons" href="../templates/instructors.html">Instructors</a>
    
      <a class="buttons" href="../templates/services.html">Additional Services</a>

      <a class="buttons" href="../templates/contact.html">Contact</a>
    
    </div>  

     <h1>Jennifer Curry Wingrove</h1>

    <hr>   

    <div class="instructor-container"> 
      
      <div class="instructor-img">
        <img src="../images/Instructors/jennifer_curry_wingrove.jpg">
      </div>
      
      <div class="instructor-txt">

        <p>
          Jennifer Curry Wingrove, owner of Pilates On Park, renowned Ballerina of the California Ballet Company, and a STOTT Certified Pilates Instructor, initially became interested in Pilates to further strengthen her own body for her international dancing career. She was so impressed with what Pilates did for her that she became inspired to teach and share this form of exercise with others. In 2010, Jennifer founded Pilates On Park. Jennifer's instruction utilizes a dynamic repertoire of exercises to emphasize strength, flexibility, and mind-body-spirit connection.<br>
          <br>
          Jennifer has 30 years of teaching experience with 20 years of teaching Pilates in the San Diego area. Her clients have included the California Ballet Company, San Diego Symphony, and the Old Globe Theater. She is also the Founder, Artistic Director, and award-winning Choreographer of Astraeus Aerial Dance Theatre, and has had the privilege to work closely with the celebrated Debra Brown of Cirque du Soleil. Jennifer can also be seen dancing in Coldplay’s music video “True Love”, as well as in the movie “Petals On the Wind”.  Jennifer graduated cum laude with a Bachelor of Arts in Psychology from University of California, San Diego, and was a Research Technician with the Scripps Research Institute in La Jolla. She is also a professional ballet coach and teacher, and the founding Photographer of Wingrove Studios Photography.<br>
          <br>
          <span style="color:#6F8558;">
            "Jennifer excels at tuning into the individual and his or her physical idiosyncrasies, selecting a plan that relates to each client, and committing to help them improve their physical, mental, and spiritual well being through Pilates as a platform for overall health." - Nancy Daly, client.
          </span>
        </p>    
          
      </div>

    </div>

    <h1>Laura Rutledge</h1>

    <hr>   

    <div class="instructor-container"> 
      
      <div class="instructor-img">
        <img src="../images/Instructors/laura_rutledge.jpg">
      </div>
      
      <div class="instructor-txt">
        <p>Laura Rutledge is a professional ballet and modern dancer and a classically certified Pilates instructor. She began her Pilates training in 2000, while dancing with the State Street Ballet in Santa Barbara, CA. Finding Pilates to be invaluably beneficial to her professional dancing career, Laura continued to incorporate the method into her daily training regiment. In 2010, after dancing in San Francisco for ten years, she moved to New York City to dance with the Lar Lubovitch Dance Company. It was in NYC, where Laura completed her 650-hour Comprehensive Pilates certification through Power Pilates. Laura was fortunate to teach for a wide variety of institutions while living in NYC, including Equinox, Google, Power Pilates, Harvard Club, and dance intensives at the Joffrey Ballet School and Lar Lubovitch Dance. Laura is excited to bring her knowledge and experience to sunny San Diego!</p>   
      </div>

    </div>
    
    <h1>Jennifer Bearse</h1>

    <hr>   
  
    <div class="instructor-container">  
      
      <div class="instructor-img">
        <img src="../images/Instructors/jennifer_bearse.jpg">
      </div>  

      <div class="instructor-txt">
        <p>Born and raised in Massachusetts, outdoor sports and my love to challenge myself physically have shaped my complete devotion and love for exercise and healthy living. After suffering from a debilitating hip and back injury in 2008 caused by years of heavy endurance training and pounding on my body that caused muscle imbalances, lack of stability, and a host of other problems, I discovered Pilates and soon thereafter delved into the rigorous 500+hour teaching certification through Balanced Body University. Since 2009, I have inspired, healed and educated both individuals and groups using the Pilates Method.<br>
        <br>  
        I am an avid athlete with an extensive background in a multitude of athletic disciplines including: CrossFit, triathlons, cycling, running, weight training, skiing, hiking, yoga, and the Brazilian martial art Capoeira. I am a multi-time triathlon finisher, and an Ironman Triathlete, and have competed in all types of endurance events, including long and short course triathlons, duathlons, century bike rides, and multiple half marathons and 10k running races.<br>
        <br>
        I am currently enjoying increasing my CrossFit skills and abilities, and have been focused on combining the tenants of CrossFit with my knowledge of core strength and body awareness. It is truly powerful, and is inspiring me to see the power of the Pilates method in enhancing my abilities as a CrossFit athlete, and has reinvigorated my commitment to inspiring people to push themselves harder and transform their bodies, mentally and physically, through the Pilates Method and beyond.<br>
        <br>
        I come to the Pilates Method from the perspective of an athlete and someone who has suffered from chronic pain. I myself have experienced the benefits of using Pilates to rehabilitate my body and become pain-free, while at the same time experiencing its’ benefits as a tool for creating a strong, flexible, and lean body. My goal when working with clients is to help clients to use all of the elements of the Pilates Method in their daily lives and in other activities, so that they can prevent future injuries and move with intelligence and total body awareness, no matter what their athletic or fitness goals are.<br>
        <br>
        There is nothing more fulfilling than helping others change for the positive, and sharing this knowledge and skill with them, whether it’s taking away their back pain, making them stand and walk taller, or just making them smile about the progress they make; that to me is powerful. And that is why I’m committed to doing what I do.</p>
      </div>  

    </div>
    
    <h1>Bernadette Torres</h1>

    <hr>   

    <div class="instructor-container">

      <div class="instructor-img">
        <img src="../images/Instructors/bernadette_torres.jpg">
      </div>  

      <div class="instructor-txt">
        <p>Bernadette Mirentxu Torres is a sought-after dance and Pilates instructor,
          private coach, ballet dancer, and choreographer. Ms. Torres received her Pilates
          Certification from BASI (Body Arts and Science International) Pilates, completing the
          Comprehensive Teacher Training Course under BASI founder, Rael Isacowitz. Due to
          her love of learning, Ms. Torres continues to attend workshops and certification
          programs such as, the BASI Pilates programs Pilates for the Overweight Client with
          Bonnie Sessions and Pilates for the Rehabilitating Client with Brandon Gamble, as well
          as the APPI (Australian Physiotherapy and Pilates Institute) Mat Level 1 Course, a
          rehabilitation Pilates based program, with Kirsten Roberts. Additionally, Ms. Torres is a
          Certified Progressive Ballet Technique (PBT) instructor.<br>
          <br>
          Ms. Torres’s experience includes over 13 years as a professional dancer, 12 years as a
          dance instructor, 9 years as a private coach, 8 years as a choreographer, and 4 years
          as a Pilates instructor. Ms. Torres studied ballet at various studios in San Diego, as
          well as, at American Ballet Theatre-New York, Pacific Northwest Ballet, Houston Ballet
          where she was offered a year-round scholarship, and Hubbard Street Dance Chicago.
          Additionally, she was offered a spot in the trainee program with the Joffrey Ballet in
          Chicago. Ms. Torres competed in the Youth America Grand Prix Finals-New York
          and the World Ballet Competition Finals-Orlando, coached by her mentor,
          Ahita Ardalan, of Les Ballets de Monte Carlo and the Paris Opera Ballet.<br>
          <br>
          She received her first Company contract at age 17 and quickly rose through the ranks to
          Principal by the age of 22. It was during this time when she embraced Pilates as a form
          of cross training for her professional dance career. Ms. Torres has been a dancer/dance
          captain with the San Diego Opera for over 10 years and was an Assistant
          Choreographer in 2016 for the opera La Cenerentola. She has choreographed several
          original works for various dance companies, schools, and competitions, and has been a
          guest judge in Italy and the USA. As a guest dancer, she performed in several
          international galas within the United States and Europe, receiving the “Riconoscimento
          al Talento” and the “Riconoscimento alla Carriera” awards in Italy.<br>
          <br>
          Furthermore, Ms. Torres received her AA in Accounting with Honors from Southwestern
          College and her BS in Business Administration-Management from SDSU (San Diego
          State University). With her degree she has helped various dance studios and
          companies with management, marketing, social media, and website development.
        </p>  

      </div>

    </div>

  </div>

</body>

<footer class="footer">Copyright 2018 <img src="../images/wdd_logo_footer.png"> Wolf Den Development</footer>

</html>
