
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>http://www.pilatesonpark.com</title>
<style type="text/css">
<!--
.style2 {font-family: Verdana, Arial, Helvetica, sans-serif}
.style4 {color: #660033}
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
}
body {
	background-image: url();
	background-repeat: no-repeat;
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #660033;
}
a:active {
	text-decoration: none;
}
-->
</style>
</head>

<body>
<div align="center">
  <p><img src="images/pplogo.jpg" alt="pilatesonpark" width="616" height="229" /></p>
  <p><a href="index.html">Home</a></span> <span class="style4">|</span>
  <a href="classes.html">Classes</a> <span class="style4">|</span>
   <a href="http://clients.mindbodyonline.com/ws.asp?studioid=18307&stype=-7&sView=week">Schedule</a> <span class="style4">|</span> 
   <a href="bio.html">Instructors</a> <span class="style4">|</span> <a href="services.html">Additional Services</a> <span class="style4">|</span> 
   <a href="contact.html">Contact</a></p>
  <p><span class="style2">858.707.5009 <span class="style4">|</span> <a href="mailto:pilatesonpark@gmail.com">pilatesonpark@gmail.com</a></span></p>
  <p>4201 Park Blvd, San Diego, CA 92103  </p>
  <table width="784" border="0">
    <tr>
      <th width="826" height="367" scope="col"><p align="left">HISTORY OF PILATES:<br />
        Pilates
            was designed by Joseph Pilates, a physical-culturist born in Germany
            in 1880. He developed a system of exercises during the first half
            of the 20th century which were intended to strengthen the human mind
            and body. Joseph Pilates believed that mental and physical health
            are inter-related.[3] He had practiced many of the physical training
            regimes which were available in Germany in his youth, and it was
            out of this context that he developed his own work, which has clear
            connections with the physical culture of the late ninteenth century
            such as the use of specially invented apparatuses and the claim that
            the exercises could cure illness. It is also related to the tradition
            of &quot;corrective exercise&quot; or &quot;medical
          gymnastics&quot; which is typified by Pehr Henrik Ling. Joseph Pilates
          published two books in his lifetime which related to his training method:
          Your Health: A Corrective System of Exercising That Revolutionizes
          the Entire Field of Physical Education (1934) and Return to Life through
          Contrology (1945). In common with early C20 physical culture, Pilates
          had an extremely high regard for the Greeks and the physical prowess
          demonstrated in their Gymnasium. The first generation of students,
          many of them dancers, who studied with Joseph Pilates and went on to
          open studios and teach the method are collectively known as The Elders
          and the most prominent include: Romana Kryzanowska, Kathy Grant, Jay
          Grimes, Ron Fletcher, Mary Bowen, Carola Treir, Bob Seed, Eve Gentry,
          Bruce King, Lolita San Miguel and Mary Pilates (the niece of Joseph
          and Clara). Modern day pilates styles, both &quot;traditional&quot; and &quot;contemporary&quot;,
          are derived from the teaching of these first generation students. The
          method was originally confined to the few and normally practiced in
          a specialized studio, but with time this has changed and pilates can
          now be found in community centers, gyms and physiotherapy rooms as
          well as in hybrid practice such as yogilates and in newly developed
          forms such as the Menezes Method. The "traditional" form still survives
          and there are also a variety of "contemporary" schools, such as Stott
          Pilates, which have adapted the system in different ways.<br />
          <br />
          METHODS AND EQUIPMENT:<br />
          The Pilates method seeks to develop controlled movement from a strong
          core and it does this using a range of apparatuses to guide and train
          the body. Joe Pilates originally developed his method as mat exercises
          (his 1945 &quot;Return to Life&quot; teaches 34 of these), but, in
          common with many other physical culture systems from the first part
          of the twentieth century, he used several pieces of apparatus to help
          people &quot;get the method in their bodies&quot;. Each piece of apparatus
          has its own repertoire of exercises and most of the exercises done
          on the various pieces of Pilates apparatus are resistance training
          since they make use of springs to provide additional resistance. Using
          springs results in &quot;progressive resistance&quot;, meaning the
          resistance increases as the spring is stretched. The most widely used
          piece of apparatus, and probably the most important, is the Reformer,
          but other apparatus used in a traditional Pilates studio include the
          Cadillac (also called the Trapeze Table), the high (or electric) chair,
          the Wunda Chair, the baby Chair, and the Ladder Barrel, the Spine Corrector
          (Step Barrel) and small barrel. Lesser used apparati include the Magic
          Circle, Guillotine Tower, the Pedi-Pole, and the Foot Corrector. In
          contemporary Pilates other props are used, including small weighted
          balls, foam rollers, large exercise balls, rotating disks, and resistance
          bands. Some of the traditional apparatuses have been adapted for use
          in contemporary pilates (e.g. splitting the pedal on the wunda chair).
          Some contemporary schools, such as the British Body Control Pilates,
          work primarily on the mat with these smaller props, enabling people
          to study the method without a full studio. Currently the Pilates Method
          is divided into two camps, Classical/Authentic Pilates or Contemporary/Modern
          Pilates. Classical/Authentic Pilates teach the exercises in an order
          that does not vary from lesson to lesson. Teachers of this style of
          Pilates seek to stay close to Joseph Pilates's original work and generally
          use equipment that is built to his specifications. Most classically
          trained teachers will have studied the complete system of exercises
          and can generally trace their training back to Joseph Pilates through
          one of his proteges. Contemporary/Modern pilates breaks the method
          down into various parts and the order of the exercises varies from
          lesson to lesson with many changes made to the original exercises.<br />
          <br />
          BREATHING:<br />
          Breathing is important in the Pilates method. In Return to Life, Pilates
          devotes a section of his introduction specifically to breathing &quot;Bodily
          house-cleaning with blood circulation&quot; [13] He saw considerable
          value in increasing the intake of oxygen and the circulation of this
          oxygenated blood to every part of the body. This he saw as cleansing
          and invigorating. Proper full inhalation and complete exhalation were
          key to this. &quot;Pilates saw forced exhalation as the key to full
          inhalation.&quot; [14] He advised people to squeeze out the lungs as
          you would wring a wet towel dry.[15] In Pilates exercises, you breathe
          in with the effort and out on the return.[16] In order to keep the
          lower abdominals close to the spine; the breathing needs to be directed
          laterally, into the lower ribcage. Pilates breathing is described as
          a posterior lateral breathing, meaning that the practitioner is instructed
          to breathe deep into the back and sides of his or her rib cage. When
          practitioners exhale, they are instructed to note the engagement of
          their deep abdominal and pelvic floor muscles and maintain this engagement
          as they inhale. Pilates attempts to properly coordinate this breathing
          practice with movement, including breathing instructions with every
          exercise. &quot;Above all, learn to breathe correctly.&quot; [17] <br />
          <br />
          Posterior lateral
          breathing is a way of breathing that facilitates bibasal expansion
          of the ribcage. To understand this concept properly you have to first
          learn to expand and release the ribcage without deliberately breathing
          in or out. The in-breath (inhalation) and out-breath(exhalation) should
          occur instinctively as a result of the conscious expansion and release
          of the ribcage. This is how you would do this: You place your hands
          on your lower ribs with you thumbs facing the back of your ribcage,
          try not to think of breathing, relax your upper abdominals and expand
          your ribcage to the side against the soft resistance of your hands.
          Release the expansion of the ribcage by first melting away the area
          of the clavicles. You can also try this with a scarf around the lower
          ribcage. You will not be able to expand and release the ribcage effectively
          if you try to contract your abdominal muscles to expand the ribcage
          and if you try to contract the ribcage instead of first release it.
          Now you should try to duplicate this action with conscious breathing
          in and breathing out. The in-breath (let it come) widens the ribcage
          laterally, posteriorly, and superiorly in the ratio of 60:30:10. That
          is 60% laterally, 30% posteriorly and 10% superiorly. The effect of
          this ratio of distribution is felt mainly as a back activity. The out-breath
          (gradually let it out) exits the body first through the gradual and
          gentle release of tension (intention) in the upper chest and breastbone
          area, without collapsing the front of the ribcage, and terminates through
          the activation of the power engine.<br />
          <br />
          (source information from Wiki)<br />
          <br />
          <img src="images/fitness.diptych.jpg" width="936" height="443" /><br />
        </p>
      </th>
    </tr>
  </table>
  <p><span class="style2">858.707.5009 <span class="style4">|</span> <a href="mailto:jgcurry@gmail.com">pilatesonpark@gmail.com</a></span></p>
  <p>&nbsp;</p>
</div>
</body>
</html>
