<!DOCTYPE html PUBLIC>
<html lang="en">
<head>
  <title>http://www.pilatesonpark.com</title>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <META NAME="Keywords" CONTENT="pilatesonpark, pilatesonpark.com, pilates on park, pilatesonpark san diego, pilates on park san diego, jennifer curry, health and fitness, fitness pilates, pilates san diego, pilates health, pilates fitness, san diego fitness, ballet, ballet pilates, pilates studio, dance studio," />
  <META NAME="Description" CONTENT="Pilates fitness for well being in the heart of San Diego, California" />
  <META NAME="Author" CONTENT="Nicholas Purington, Nick Purington" />
  <link href="../index_styles.css" rel="stylesheet" type="text/css" />

</head>

<body>

  <div>

    <div class="page-header">   

      <div class="jennifer-img-container">  
        <img src="../images/Jennifer Profile Final.jpg">
      </div>

      <div class="jennifer-link-container"> 
        <a class="jennifer-link" href=""> Owner <br> Jennifer Curry Wingrove </a>
      </div>

      <div>
        <a href="pilatesonpark.com"><img class="logo_img" src="../images/Pilates On Park-Banner - Black.jpg"></a> 
      </div>

    </div>


    <div class="link-container">

      <a class="buttons" href="../templates/pilatesfitness.html">Pilates On Park Fitness</a>
      
      <a class="buttons" href="../templates/classes.html">Classes</a>     
    
      <a class="buttons" href="../templates/schedule.html">Schedule</a>

      <a class="buttons" href="../templates/instructors.html">Instructors</a>
    
      <a class="buttons" href="../templates/services.html">Additional Services</a>

      <a class="buttons" href="../templates/contact.html">Contact</a>
    
    </div>  

    <h1>Additional Services Offered at Pilates on Park</h1>

    <hr>   
     
    <h2>Acupuncturist, Serra Reid, L.AC., Dipl.O.M.</h2>

    <p class="services-link">  
      <a href="http://www.myheavenandearth.com/" target="_blank">myheavenandearth.com</a>
    </p>

    <p class="services-txt">
      I have worked in the field of mind/body health care for fifteen years, both in private practice and as a consultant
      to the United Nations on public health policy campaigns. In 2008 I was awarded a double Master's of Science degree in Traditional Chinese
      Medicine (Acupuncture and Herbal Medicine), and upon passing the California State Board Exams was certified as a Licensed Acupuncturist (L.Ac.).
      <br>
      <br> 
      Additionally, I have the honor of being certified as a Diplomate of Oriental Medicine, which grants me privilege to practice Chinese Medicine
      throughout the United States.
      <br> 
      <br>
      I am passionately committed to helping create opportunities for people
      to heal at physical, emotional and spiritual levels. I have been trained
      in multiple medical modalities, both western and eastern, and enjoy
      using different perspectives to assess and treat health imbalances.
    </p>
  </div>
</body>
</html>
